<% if @playlist.errors.any? %>
<h2>errors prevented this playlist from being saved!</h2>
    
  <ul>
  <% @playlist.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>

<% end %>

<%= form_for @playlist, :html => {:multipart => true} do |f| %>
	<label><%= f.label :title %></label>
	<%= f.text_field :title %>
	<label><%= f.label :mp3 %></label>
	<%= f.text_field :mp3 %>
	<%= f.file_field :track, :multiple => true  %>
	<%= f.submit :class=>"button"%>
<% end %>