<h1>your playlists</h1>

<%= link_to 'Create a new playlist', new_playlist_path %>

<h1>Playlists</h1> 
<% @playlists.each do |playlist| %>
<ul>
	<% i=1 %>
	<li><%= "#{i}. " %><%= link_to playlist.title, playlist_path(playlist) %> </li>
	<% i+1 %>

	<li><%= link_to 'Edit', edit_playlist_path(playlist) %></li>

	<li><%= link_to 'Delete', playlist_path(playlist), method: :delete, data: { confirm: 'Are you sure?' } %></li>
</ul>
<% end %>