

	<h3><%= @playlist.title %></h3>
 
	<ul class="graphic">
		<li>
			<a href="<%= @playlist.track_url.to_s %>"><%= @playlist.mp3 %></a>
		</li>
	</ul>
<% if user_signed_in? %>
	<%= link_to 'Edit', edit_playlist_path(@playlist), :class=>"button" %>
	<%= link_to 'Back', playlists_path, :class=>"button" %>
<% else %>
<%= link_to "back to home page", root_path %>

<% end %>




