<div class="tippy row">
	<div class="small-1 large-6 columns">



<p>
  <strong>Title:</strong>
  <%= @playlist.title %>
</p>
 
<p>
  <strong>MP3:</strong>
  <%= @playlist.mp3 %>
</p>


 <div><audio src="<%= @playlist.track_url.to_s %>" controls preload="auto" autobuffer /></div>


<%= link_to 'Edit', edit_playlist_path(@playlist), :class=>"button" %>

<%= link_to 'Back', playlists_path, :class=>"button" %>


</div>
</div>


